body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.block-objects{
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
}

h1 {
    text-align: center;
}

.my-form {
    background-color: rgb(224, 136, 126);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

input {
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.sign-btn {
    display: block;
    padding: 12px;
    font-size: 14px;
    width: 100%;

    background-color: rgb(10, 139, 86);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;

}

#sign-btn:hover {
    background-color: rgba(53, 175, 49, 0.744);
    
}


#login-checkbox {
    margin-top: 12px;
    margin-bottom: 12px;
    color: rgb(58, 58, 58);
}


.my-border {
    border: 1px solid rgb(252, 252, 252);
    padding: 20px;
    border-radius:  5%;
    box-shadow: 10px 10px 15px black;
    background-color: rgb(38, 199, 211);
}

.Btn a{
    display: block;
    width: 95%;
    height: 25px;
    background: rgb(0, 132, 255);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
    text-decoration: none;
}

.Btn a:hover{
    background: rgba(0, 81, 255, 0.744);
}

#DOB{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#birth{
    margin-top: 15px;
}

#comment{
    text-align: center;
}

#header{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
.nav-bar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav-bar{
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
.nav-bar:hover{
    background-color: rgb(107, 107, 107);
}

#search{
    float: right;
    align-content: center;
    padding-left: 1rem;
    
}