<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="url_for('static', filename='style.css')">
    <title>Join Account</title>
</head>
<body>
    
    <div class="my-form">
        <form>
                <div class="my-border">
    
                    <h1>Please sign in</h1>
                    <label for="emailbox" class="block-objects">Email:</label>
                    <input type="text" id="emailbox", >
    
                    <label for="password" class="block-objects">Password:</label>
                    <input type="password" id="password">
    
                    <div id="login-checkbox">
    
                        <input type="checkbox" id="my-checkbox">
                        <label for="my-checkbox">Keep me signed in</label>
    
                    </div>
    
                    <input type="submit" class="sign-btn">
                    
                    <div class="Btn">
                        <a href="sign-in.html", class="Btn">Create a New Account</a>
                    </div>
                
                </div>
        </form>
    </div>
    
</body>
</html>