{% extends "base.html" %}

{% block content %}
    <div class="my-form">
        <form>
            <div class="my-border">
                    <h1>Please sign in</h1>
                    <label for="emailbox" class="block-objects">Email:</label>
                    <input type="text" id="emailbox">
    
                    <label for="password" class="block-objects">Password:</label>
                    <input type="password" id="password">
    
                    <div id="login-checkbox">
    
                        <input type="checkbox" id="my-checkbox">
                        <label for="my-checkbox">Keep me signed in</label>
    
                    </div>
    
                    <input type="submit" class="sign-btn">
                    
                    <div class="Btn">
                        <a href="sign-in", class="Btn">Create a New Account</a>
                    </div>
                </div>
        </form>
    </div>
{% endblock %}