{% extends "base.html" %}

{% block title %} Create Account {% endblock %}

{% block content %}

    <div class="my-form">
        <form action="\register" method="post">
            <div class="my-border">
                <h1>Create a New Account</h1>
                <p id = "comment">Creating an Account is Easy</p>
                <hr>

                {{ form.name.label(class="block-objects") }} {{ form.name }}
                <br>

                {{ form.username.label(class="block-objects") }} {{ form.username }}
                <br>

                <!--  { form.email.label(class="block-objects") } { form.email }
                <br> -->
               
                <!-- { form.age.label(class="block-objects") } { form.age }
                <br>

                { form.password.label(class="block-objects") } { form.password }
                <br>

                { form.c_password.label(class="block-objects") } { form.c_password } -->
                <br>

                <br>

                {{ form.submit(class="sign-btn") }}

                <!-- % for user in users %
                    { user.name }
                % endfor % -->

                <!-- <input type="email" class="block-objects" placeholder="Mobile Number or Email" name="">
                <textarea name="address" cols="20" rows="5" class="block-objects"  placeholder="Enter your Address"></textarea>
                <input type="text" name="" class="block-objects" placeholder = "Enter your Pincode">
                <input type="text" class="block-objects" placeholder="User Name" name="">
                <input type="password" class="block-objects" placeholder="Enter your password" name="" class="block-objects">
                <input type="password" class="block-objects" placeholder="Retype your password" name="" class="block-objects">
 
                <div id = "DOB">
                    <label for="DOB">Date of Birth:</label>
                    <br>
                    <input type="date" id="birth" name="">
                </div>
                
                <div id="login-checkbox">

                    <input type="checkbox" id="my-checkbox">
                    <label for="my-checkbox">Keep me signed in</label>

                </div> -->

                <div class = "Btn">
                    <p>Aldready Have A account</p>
                    <a href="/login">Log In</a>
                </div>
            </div>
        </form>
    </div>
            
{% endblock %}